PORT = 5000

# Environment variables
ASSISTANT_URL=https://gateway.watsonplatform.net/assistant/api
ASSISTANT_ID=511800f2-cea9-4f79-8b0c-7ae910a03d2e

# IBM Cloud connection parameters
ASSISTANT_IAM_APIKEY=0rnfMz9ht1dEKHePBkj2LakvTtXc76OWognk1Ef5sr5Z
ASSISTANT_IAM_URL=https://api.us-south.assistant.watson.cloud.ibm.com/instances/7d2add83-ded8-4440-b1bc-f1dc5decfd58/v2/assistants/511800f2-cea9-4f79-8b0c-7ae910a03d2e/sessions
# Cloud Pak for Data connection parameters
BEARER_TOKEN=
DISABLE_SSL_VERIFICATION=false